@import url("https://fonts.cdnfonts.com/css/old-london");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meera+Inimai&display=swap");

$primary-bg-color: #1c1a19;
$primary-font: "Crete Round", serif;
$secondery-font: "Inter", san-serif;
$title-color: #f55800;
$primary-font-color: #fff;
$secondery-font-color: #091e42;

button:hover {
  background-color: #fff5e1 !important;
  color: #f55800 !important;
  border: 1px solid #f55800 !important;
}

button:focus {
  border: none !important;
  color: #f4f1f0 !important;
  background-color: #e05304 !important;
}

button:disabled,
button[disabled] {
  border: none !important;
  background-color: #f4f1f0 !important;
  color: #5b5957 !important;
}

.nav-custom {
  background-color: #3c3a39;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .nav-link {
    font-family: $secondery-font;
    color: $primary-font-color;
  }

  .border-bottom {
    border-bottom-color: #6f6c6b !important;
  }

  button {
    border: none;
  }
}

.navbar-brand {
  font-family: "Old London", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
  &:hover {
    color: #fff;
  }
  &:focus {
    opacity: 0.5;
    color: #fff;
  }
}

.nav-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  --bs-navbar-toggler-focus-width: 0;
}

.hero {
  background-color: $primary-bg-color;
  background-image: url("./assets/hero-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 110%;
  color: $primary-font-color;

  .hero-content {
    padding: 43% 0;

    h1 {
      font-family: $primary-font;
      font-size: 2.5rem;
      color: $title-color;
    }

    h2 {
      font-family: Roboto, sans-serif;
      font-size: 1.3rem;
    }

    li {
      list-style: none;
    }

    a {
      color: #cfcfcf;
    }
  }
}

svg {
  width: calc(1.25rem + 1vh);
}

.portfolio {
  h1 {
    font-family: $primary-font;
    color: #1c1a19;
    font-size: 2.5rem;
    font-weight: 400;
  }

  hr {
    width: 100%;
    background: #212121 !important;
    opacity: 1;
  }

  .portfolio-title {
    width: 90%;
  }
}

.main-project {
  h2 {
    font-family: $primary-font;
    color: #091e42;
  }

  p {
    font-family: $secondery-font;
    color: #091e42;
  }

  .img-placeholder {
    background: #f28729;
    text-align: center;
    width: 90%;
    img {
      width: 85%;
      box-shadow: 3px 3px 20px 1px #202020;
    }
  }

  ul {
    list-style: none;
  }

  button {
    font-family: $secondery-font;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
  }

  li {
    border-color: #8893a4 !important;
  }
}

.card {
  position: unset !important;

  ul {
    list-style: none;
  }

  button {
    font-family: $secondery-font;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
  }

  .card-body {
    box-shadow: inset -100vw -100vh rgb(50 50 50 / 0.942);
    transition: all 1s;

    .card-title {
      font-family: $primary-font;
    }

    .card-text,
    li {
      font-family: $secondery-font;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }

    .card-title,
    .card-text,
    li {
      color: $primary-font-color;
    }

    li {
      background-color: rgba(255 255 255 / 24%);
    }

    &:hover {
      box-shadow: none;

      .card-title,
      .card-text,
      ul {
        visibility: hidden;
      }
    }
  }
}

.modal-dialog {
  max-width: unset;
  width: 95%;
  height: 98%;
  .modal-content {
    .modal-header {
      border-bottom: none;
    }

    .modal-body {
      overflow-y: auto;
      .main-project {
        height: 100%;
        .modal-details-container {
          height: 100%;
        }

        .modal-details {
          height: 100%;
        }

        .modal-details-container {
          img {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
            height: 65%;
          }
        }
      }
    }

    .modal-btn {
      font-family: "Inter", san-serif;
      font-weight: 700;
      color: #fff;
      background-color: #ff6b00;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.about-me {
  background-color: $primary-bg-color;
  background-image: url("./assets/about-mobile-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 33%;

  h1 {
    font-family: $primary-font;
    font-size: 4.4rem;
    color: $title-color;
  }

  p {
    color: #fff;
  }

  button {
    font-family: $secondery-font;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
  }

  li {
    list-style: none;
    font-family: $secondery-font;
    color: $primary-font-color;
    font-size: calc(0.85rem + 0.4vh);
  }

  .about-me-container {
    padding: 20% 5% 45%;
  }
}

.stack-skills {
  font-family: "Meera Inimai", sans-serif;
  color: $primary-font-color;
  padding: 0;
  padding-bottom: 5em !important;
  list-style: square;

  ul {
    padding: 0%;
  }

  #language,
  #framework,
  #skills {
    font-size: calc(1.375rem + 1.5vw);
  }

  .language::before {
    content: " ";
    display: block;
    background-color: #ff6b00;
    height: 0.5em;
    width: 0.5em;
    position: relative;
    transform: rotate(45deg);
    top: 1em;
    right: 3em;
  }

  .framework::before {
    content: " ";
    display: block;
    background-color: #ff6b00;
    height: 0.5em;
    width: 0.5em;
    position: relative;
    top: 1em;
    right: 3em;
  }

  .skills::before {
    content: " ";
    display: block;
    background-color: #ff6b00;
    height: 0.5em;
    width: 0.5em;
    position: relative;
    border-radius: 50%;
    top: 1em;
    right: 1.6em;
  }
}

.contact {
  h2 {
    font-size: 2em;
    font-family: $secondery-font;
    color: #172b4d;
  }

  input,
  textarea {
    text-indent: 0.5em;
  }

  textarea {
    resize: none;
    background-color: #fbf8f7;
    color: #3c3a39;
    font-family: $secondery-font;
  }

  button {
    font-family: $secondery-font;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
  }

  footer {
    hr {
      color: #dfe1e6;
      opacity: 1;
    }
    ul {
      list-style: none;
    }
    a {
      color: #505f79;
    }
  }
}

@media (min-width: 576px) {
  .hero .hero-content {
    padding: 24.6% 0;
    width: 90%;
    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .modal-details-container {
    img {
      height: 70% !important;
    }
  }

  .about-me {
    background-position: 100% 25%;
    h1 {
      font-size: 5.4rem;
    }

    li {
      font-size: calc(1.2rem + 0.5vh);
    }
    .about-me-container {
      padding: 10% 8% 27%;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .hero-content {
      padding: 21.6% 0;
      p {
        font-size: calc(1.2rem + 0.5vh);
      }
    }
    h1 {
      font-size: 3.5rem;
    }
    .hero-content > div {
      width: 60% !important;
    }
    .hero-social {
      gap: 2rem !important;
    }
  }

  svg {
    width: calc(1rem + 0.5vw);
  }

  .portfolio h1 {
    font-size: 3rem;
  }

  .main-project {
    width: 90%;
    .modal-details-container {
      height: 100% !important;
      img {
        width: 100%;
        height: 100% !important;
      }
    }
  }
  .about-me {
    .about-me-container {
      padding: 15% 30% 8% 5%;
    }
  }
}

@media (min-width: 992px) {
  .nav-custom a {
    border-bottom: none !important;
  }

  .navbar-brand {
    font-size: 1.6rem;
  }

  .hero {
    background-image: url(./assets/hero-bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;

    .navbar {
      padding: 0 6%;
    }

    .hero-content {
      padding: 20% 25% 25% 0%;
      margin-left: 2%;
      gap: 2rem !important;
      div {
        max-width: 45% !important;
      }
    }

    .hero-social {
      gap: 1.5rem !important;
    }
  }

  .portfolio {
    .portfolio-title {
      width: 100%;
      h1 {
        font-size: 2.5rem;
      }
      hr {
        width: 59%;
      }
    }
    .main-project {
      width: 100%;
    }

    .main-project-details {
      width: 80%;
    }

    .column-large {
      width: 31%;
    }

    .modal-content {
      height: 90%;
      .modal-details-container {
        height: 85% !important;
        img {
          width: 65%;
          height: 100% !important;
          align-self: unset;
        }
      }
    }
  }

  .about-me {
    background-image: url("./assets/about-me-bg-desktop.svg");
    background-position: 150% 20%;
  }

  .contact {
    .contact-content {
      h2 {
        width: 40%;
      }
      div {
        width: 60%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .hero-content {
      padding: 17% 25% 20% 0%;
      gap: 5rem !important;
      h1 {
        font-size: 4.5rem;
      }
    }
  }

  .portfolio {
    .portfolio-title {
      hr {
        width: 66%;
      }
    }

    .main-project {
      .img-placeholder {
        width: 100%;
        img {
          height: 75%;
        }
      }
    }

    .modal-content {
      .modal-details-container {
        img {
          width: 70%;
          align-self: unset;
        }
        .modal-details {
          width: 45%;
        }
      }
    }
  }

  .about-me {
    background-image: url("./assets/about-me-bg-desktop.svg");
    background-position: 100% 20%;
    .about-me-container {
      padding: 7% 5%;
      p {
        max-width: 55%;
        font-size: 1.1rem;
      }
    }
  }

  .contact {
    h2 {
      max-width: 40%;
      font-size: 2.5em;
    }
  }
}
