@import url("https://fonts.cdnfonts.com/css/old-london");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meera+Inimai&display=swap");
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          values: (
            1: calc(1.375rem + 1.5vw),
            2: calc(1.25rem + 0.9vw),
            3: calc(1.3rem + 0.6vw),
            4: calc(1.275rem + 0.3vw),
            5: 1.25rem,
            6: 1rem,
            7: 0.8rem,
            8: 0.6rem,
            9: 0.5rem,
            10: 0.4rem,
          ),
        )
      ),
    "padding-y":
      map-merge(
        map-get($utilities, "padding-y"),
        (
          responsive: true,
          values: (
            1: 0.25rem,
            2: 0.5rem,
            3: 1rem,
            4: 1.5rem,
            5: 3rem,
            6: 4rem,
            7: 5rem,
            8: 6rem,
            9: 7rem,
            10: 8rem,
          ),
        )
      ),
    "padding-top":
      map-merge(
        map-get($utilities, "padding-top"),
        (
          responsive: true,
          values: (
            1: 0.25rem,
            2: 0.5rem,
            3: 1rem,
            4: 1.5rem,
            5: 3rem,
            6: 4rem,
            7: 5rem,
            8: 6rem,
            9: 7rem,
            10: 8rem,
          ),
        )
      ),
  )
);

@import "./node_modules/bootstrap/scss/utilities/api";
$primary-bg-color: #1c1a19;
$primary-font: "Crete Round", serif;
$secondery-font: "Inter", san-serif;
$title-color: #f55800;
$primary-font-color: #fff;
$secondery-font-color: #091e42;

button:hover {
  background-color: #fff5e1 !important;
  color: #f55800 !important;
  border: 1px solid #f55800 !important;
}

button:focus {
  border: none !important;
  color: #f4f1f0 !important;
  background-color: #e05304 !important;
}

button:disabled,
button[disabled] {
  border: none !important;
  background-color: #f4f1f0 !important;
  color: #5b5957 !important;
}

.nav-custom {
  background-color: #3c3a39;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .nav-link {
    font-family: $secondery-font;
    color: $primary-font-color;
  }

  .border-bottom {
    border-bottom-color: #6f6c6b !important;
  }

  button {
    border: none;
  }
}

.navbar-brand {
  font-family: "Old London", sans-serif;
  font-family: "Old London Alternate", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
  &:hover {
    color: #fff;
  }
}

.nav-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  --bs-navbar-toggler-focus-width: 0;
}

.hero {
  background-color: $primary-bg-color;
  background-image: url("./assets/hero-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 110%;
  color: $primary-font-color;

  .hero-content {
    padding: 43% 0;

    h1 {
      font-family: $primary-font;
      font-size: 2.5rem;
      color: $title-color;
    }

    h2 {
      font-family: Roboto, sans-serif;
      font-size: 1.3rem;
    }

    li {
      list-style: none;
    }

    a {
      color: #cfcfcf;
    }
  }
}

svg {
  width: calc(1.25rem + 1vh);
}

.portfolio {
  h1 {
    font-family: $primary-font;
    color: #1c1a19;
    font-size: 2.5rem;
    font-weight: 400;
  }

  hr {
    width: 100%;
    background: #212121 !important;
    opacity: 1;
  }

  .portfolio-title {
    width: 90%;
  }
}

.main-project {
  h2 {
    font-family: $primary-font;
    color: #091e42;
  }

  p {
    font-family: $secondery-font;
    color: #091e42;
  }

  .img-placeholder {
    background: #f28729;
    text-align: center;
    width: 90%;
    img {
      width: 85%;
      box-shadow: 3px 3px 20px 1px #202020;
    }
  }

  ul {
    list-style: none;
  }

  button {
    font-family: $secondery-font;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
  }

  li {
    border-color: #8893a4 !important;
  }
}

.card {
  position: unset !important;

  ul {
    list-style: none;
  }

  button {
    font-family: $secondery-font;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
  }

  .card-body {
    box-shadow: inset -100vw -100vh rgb(50 50 50 / 0.942);
    transition: all 1s;

    .card-title {
      font-family: $primary-font;
    }

    .card-text,
    li {
      font-family: $secondery-font;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }

    .card-title,
    .card-text,
    li {
      color: $primary-font-color;
    }

    li {
      background-color: rgba(255 255 255 / 24%);
    }

    &:hover {
      box-shadow: none;

      .card-title,
      .card-text,
      ul {
        visibility: hidden;
      }
    }
  }
}

.about-me {
  background-color: $primary-bg-color;
  background-image: url("./assets/about-mobile-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 39%;

  h1 {
    font-family: $primary-font;
    font-size: 4.4rem;
    color: $title-color;
  }

  p {
    color: #fff;
  }

  button {
    font-family: $secondery-font;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
  }

  li {
    list-style: none;
    font-family: $secondery-font;
    color: $primary-font-color;
  }

  .about-me-container {
    padding: 20% 5% 45%;
  }
}

.stack-skills {
  font-family: "Meera Inimai", sans-serif;
  color: $primary-font-color;
  padding: 0;
  padding-bottom: 5em !important;
  list-style: square;

  ul {
    padding: 0%;
  }

  .language::before {
    content: " ";
    display: block;
    background-color: #ff6b00;
    height: 0.5em;
    width: 0.5em;
    position: relative;
    transform: rotate(45deg);
    top: 0.9em;
    right: 2.6em;
  }

  .framework::before {
    content: " ";
    display: block;
    background-color: #ff6b00;
    height: 0.5em;
    width: 0.5em;
    position: relative;
    top: 0.9em;
    right: 2.9em;
  }

  .skills::before {
    content: " ";
    display: block;
    background-color: #ff6b00;
    height: 0.5em;
    width: 0.5em;
    position: relative;
    border-radius: 50%;
    top: 0.9em;
    right: 1.5em;
  }
}

.contact {
  h2 {
    font-size: 2em;
    font-family: $secondery-font;
    color: #172b4d;
  }

  input,
  textarea {
    text-indent: 0.5em;
  }

  textarea {
    resize: none;
    background-color: #fbf8f7;
    color: #3c3a39;
    font-family: $secondery-font;
  }

  button {
    font-family: $secondery-font;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
  }

  footer {
    hr {
      color: #dfe1e6;
      opacity: 1;
    }
    ul {
      list-style: none;
    }
    a {
      color: #505f79;
    }
  }
}

@media (min-width: 576px) {
  .hero .hero-content {
    padding: 24.6% 0;
    width: 90%;
    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .about-me {
    background-position: 100% 35%;
    h1 {
      font-size: 5.4rem;
    }
    .about-me-container {
      padding: 10% 8% 27%;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .hero-content {
      padding: 21.6% 0;
    }
    h1 {
      font-size: 3.5rem;
    }
    .hero-content > div {
      width: 60% !important;
    }
    .hero-social {
      gap: 2rem !important;
    }
  }

  svg {
    width: calc(1rem + 0.5vw);
  }

  .portfolio h1 {
    font-size: 3rem;
  }

  .main-project {
    width: 90%;
  }
  .about-me {
    .about-me-container {
      padding: 15% 30% 8% 5%;
    }
  }
}

@media (min-width: 992px) {
  .nav-custom a {
    border-bottom: none !important;
  }

  .hero {
    background-image: url(./assets/hero-bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;

    .navbar {
      padding: 0 6%;
    }

    .hero-content {
      padding: 20% 25% 25% 0%;
      margin-left: 2%;
      gap: 2rem !important;
      div {
        max-width: 45% !important;
      }
    }

    .hero-social {
      gap: 1.5rem !important;
    }
  }

  .portfolio {
    .portfolio-title {
      width: 100%;
      h1 {
        font-size: 2.5rem;
      }
      hr {
        width: 59%;
      }
    }
    .main-project {
      width: 100%;
    }

    .main-project-details {
      width: 80%;
    }

    .column-large {
      width: 29%;
    }
  }

  .about-me {
    background-image: url("./assets/about-me-bg-desktop.svg");
    background-position: 150% 40%;
  }

  .contact {
    .contact-content {
      h2 {
        width: 50%;
      }
      div {
        width: 50%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .hero-content {
      padding: 18% 25% 25% 0%;
      gap: 5rem !important;
      h1 {
        font-size: 4.5rem;
      }
    }
  }

  .portfolio {
    .portfolio-title {
      hr {
        width: 66%;
      }
    }

    .main-project {
      .img-placeholder {
        width: 100%;
        img {
          height: 75%;
        }
      }
    }
  }

  .about-me {
    background-image: url("./assets/about-me-bg-desktop.svg");
    background-position: 100% 30%;
    .about-me-container {
      p {
        width: 70%;
      }
    }
  }
}
